body {
  background-color: #15171a;
}

.feedback {
  color: #fff;
  user-select: none;
}

.feedback__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.feedback__title {
  font-size: 30px;
  margin-bottom: 50px;
}

.feedback__form {
  width: 100%;
  max-width: 550px;
}

.feedback__input {
  margin-bottom: 20px;
}

.feedback__input > input {
  width: 100%;
  padding: 15px;
  padding-left: 20px;
  border: 1px solid rgba(255, 255, 255, 0.66);
  letter-spacing: 1px;
}

.feedback__input > input:focus {
  border: 1px solid rgba(255, 255, 255, 1);
}

.feedback__input > input::placeholder {
  color: rgba(255, 255, 255, 0.66);
}

.feedback__label {
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  .feedback__label {
    text-align: center;
  }
}

.feedback__box {
  width: 100%;
  margin-bottom: 20px;
}

.feedback__counter {
  display: flex;
}

@media (max-width: 767px) {
  .feedback__counter {
    justify-content: center;
  }
}

.feedback__counter > input[type="text"] {
  width: 70px;
  height: 55px;
  text-align: center;
  font-size: 20px;
  border: 1px solid rgba(255, 255, 255, 0.66);
  margin-left: 10px;
  margin-right: 10px;
}

.feedback__counter > input[type="text"]:focus {
  border: 1px solid rgba(255, 255, 255, 1);
}

.feedback__counter > button {
  width: 28px;
  height: 56px;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  line-height: 1;
  color: #03b800;
}

.feedback__checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.feedback__checkbox-mark {
  position: relative;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  border: 1px solid #03b800;
  margin-right: 12px;
}

@media (max-width: 767px) {
  .feedback__checkbox-mark {
    margin-right: 17px;
  }
}

.feedback__checkbox-mark::after {
  display: none;
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #03b800;
}

.feedback__checkbox
  > input[type="checkbox"]:checked
  + .feedback__checkbox-mark::after {
  display: block;
}

.feedback__checkbox-info {
  font-size: 15px;
}

.feedback__checkbox-link {
  color: #03b800;
  text-decoration: underline;
}

.feedback__box > input[type="submit"] {
  width: 100%;
  padding: 15px;
  color: #03b800;
  border: 1px solid #03b800;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}

.feedback__box > input[type="submit"]:hover {
  color: #fff;
  border: 1px solid #028900;
  background-color: #028900;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.vanilla-calendar {
  width: 100% !important;
  background-color: #15171a !important;
  border: 1px solid rgba(255, 255, 255, 0.66) !important;
  border-radius: 0 !important;
}

.vanilla-calendar-header {
  margin-bottom: 30px !important;
}

.vanilla-calendar-week {
  margin-bottom: 20px !important;
}

.vanilla-calendar-day {
  padding: 0 !important;
}

.vanilla-calendar-day__btn {
  background-color: #15171a !important;
  color: #fff !important;
  font-size: 16px !important;
  padding: 15px !important;
}

@media (max-width: 767px) {
  .vanilla-calendar-day__btn {
    font-size: 14px !important;
    padding: 10px !important;
  }
}

.vanilla-calendar-day__btn:hover {
  color: #fff !important;
}

.vanilla-calendar-day__btn_selected {
  background-color: rgba(3, 184, 0, 0.5) !important;
  color: #fff !important;
  font-weight: bold !important;
  border-radius: 0 !important;
}

.vanilla-calendar-months__month {
  background-color: #15171a !important;
  color: #fff !important;
  font-size: 16px !important;
}

.vanilla-calendar-years__year {
  background-color: #15171a !important;
  color: #fff !important;
  font-size: 16px !important;
}

.vanilla-calendar-month,
.vanilla-calendar-year {
  color: #fff !important;
}

.vanilla-calendar-month:hover,
.vanilla-calendar-year:hover {
  color: #fff !important;
}

.vanilla-calendar-header__content {
  color: #fff !important;
}

.feedback__time {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 15px;
}

@media (max-width: 767px) {
  .feedback__time {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.feedback__time-button {
  display: inline-block;
  text-align: center;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.66);
  cursor: pointer;
}

.feedback__time-button--checked {
  border: 1px solid #03b800;
  color: #03b800;
}

.feedback__switcher-item {
  margin-bottom: 20px;
}

.feedback__switcher-item label {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}

.feedback__switcher-item input[type="radio"] {
  display: none;
}

.feedback__switcher-radio {
  position: relative;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  border: 2px solid rgba(255, 255, 255, 0.66);
  border-radius: 50%;
  margin-right: 10px;
}

.feedback__switcher-radio:hover {
  border: 2px solid rgba(255, 255, 255, 1);
}

.feedback__switcher-radio::before {
  display: none;
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #03b800;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.feedback__switcher-text {
  font-size: 15px;
}

.feedback__switcher-item
  input[type="radio"]:checked
  + .feedback__switcher-radio {
  border: 2px solid #03b800;
}

.feedback__switcher-item
  input[type="radio"]:checked
  + .feedback__switcher-radio::before {
  display: block;
}

.feedback__option {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 20px;
}

.feedback__option-item label {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}

.feedback__option-item input[type="checkbox"] {
  display: none;
}

.feedback__option-mark {
  position: relative;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  border: 2px solid rgba(255, 255, 255, 0.66);
  margin-right: 10px;
}

.feedback__option-mark:hover {
  border: 2px solid rgba(255, 255, 255, 1);
}

.feedback__option-mark::before {
  display: none;
  position: absolute;
  content: "✔";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: bold;
  color: #03b800;
}

.feedback__option input[type="checkbox"]:checked + .feedback__option-mark {
  border: 2px solid #03b800;
}

.feedback__option
  input[type="checkbox"]:checked
  + .feedback__option-mark::before {
  display: block;
}

.feedback__option-text {
  font-size: 15px;
}
